<a href="https://colab.research.google.com/github/s26673/POSI_MON1/blob/main/Cwiczenia1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ćwiczenia 1

W trakcie kilku pierwszych ćwiczeń zajmiemy się pracą z Google Colab. Nauczymy się podstaw dodawania nowych skryptów, ich zapisywania w repozytorium, a także podstaw pracy z typami danych, zmiennymi i innymi podstawowymi konstrukcjami, które znacie już z Javy.

## Wprowadzenie

### Wyświetlanie danych

In [ ]:
print("Hello, world!")
print("Cześć,", "Anna")   # można łączyć kilka elementów

Hello, world!
Cześć, Anna

### Zmienne i typy danych

 Zmienną tworzymy po prostu przez przypisanie wartości:

In [ ]:
x = 10          # liczba całkowita (int)
y = 3.14        # liczba zmiennoprzecinkowa (float)
name = "Jan"    # napis (str)
student = True  # wartość logiczna (bool)

Sprawdzenie typu zmiennej:

In [ ]:
print(type(x))     # <class 'int'>
print(type(name))  # <class 'str'>

<class 'int'>
<class 'str'>

### Operatory arytmetyczne

In [ ]:
a = 7
b = 3
print(a + b)    # dodawanie → 10
print(a - b)    # odejmowanie → 4
print(a * b)    # mnożenie → 21
print(a / b)    # dzielenie → 2.333...
print(a // b)   # dzielenie całkowite → 2
print(a % b)    # reszta z dzielenia → 1
print(a ** b)   # potęga → 343

10
4
21
2.3333333333333335
2
1
343

### Operatory porównania

In [ ]:
print(5 > 3)   # True
print(5 == 3)  # False
print(5 != 3)  # True

True
False
True

### Konwersje typów

In [ ]:
x = "123"
y = int(x)     # konwersja string → int
print(y + 10)  # 133
z = str(456)   # konwersja int → string
print("Liczba to " + z)

133
Liczba to 456

### Pobieranie danych od użytkownika

In [ ]:
name = input("Podaj swoje imię: ")
print("Cześć,", name)
year = int(input("Podaj rok urodzenia: "))
age = 2025 - year
print("Masz", age, "lat.")

Podaj swoje imię: Jan
Cześć, Jan
Podaj rok urodzenia: 2025
Masz 0 lat.

## Ćwiczenia 1-9

### Zadanie 1
1. Utwórz zmienną o nazwie `x` i wartości `10`.
2. Poleć komputerowi, aby pokazał wartość tej zmiennej. Spróbuj zrobić to na dwa różne sposoby: z użyciem funkcji `print` i bez niej.
3. Spróbuj utworzyć cztery zmienne **a, b, c, d** i przypisać im wartości **10, 20, 30, 40** w jednym wierszu. Następnie wypisz wynik w konsoli.

In [ ]:
# Twój kod tutaj
x = 10
print(x)

a, b, c, d = 10, 20, 30, 40
print(a, b, c, d)

10 20 30 40

### Zadanie 2
Napisz program, który:
1. Przypisze do zmiennej `name` Twoje imię.
2. Wyświetli komunikat w formie:
``` Cześć, [imię]! ```

In [ ]:
# Twój kod tutaj
name = input("Podaj swoje imię: ")
print("Cześć,", name,"!")

Podaj swoje imię: Zosia
Cześć, Zosia !

### Zadanie 3
1. Utwórz dwie zmienne: `a = 7`, `b = 3`
2. Oblicz i wyświetl:
    * sumę,
    * różnicę,
    * iloczyn,
    * iloraz.

In [ ]:
#1 sposób
a = 7
b = 3

suma = a + b
roznica = a - b
iloczyn = a * b
iloraz = a / b
print(suma)
print(roznica)
print(iloczyn)
print(iloraz)

#2 sposób
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335
10
4
21
2.3333333333333335

### Zadanie 4
1. Utwórz zmienną `x = "123"`.
2. Zamień `x` na liczbę całkowitą i dodaj do niej 10.
3. Wynik wyświetl jako napis w formie:
```Wynik dodawania to: 133```

In [ ]:
# Twój kod tutaj
x = "123"
print(type(x))
print(int(x) + 10)
print(type(int(x)))

wynik = int(x) + 10
print("Wynik dodawania to: ",wynik)

<class 'str'>
133
<class 'int'>
Wynik dodawania to:  133

### Zadanie 5
Napisz program, który:
1. Utworzy zmienne:
 * `wiek = 20`
 * `średnia = 4.75`
 * `student = True`
 * `imię = "Anna"`
2. Dla każdej zmiennej wypisze jej typ, np.:
```Zmienna wiek ma typ: <class 'int'>```

In [ ]:
#1 sposób
wiek = 20
średnia = 4.75
student = True
imię = "Anna"

tablica = [wiek, średnia, student, imię]

for zmienna in tablica:
  print("Zmienna", zmienna, "ma typ:", type(zmienna))


#2 sposób
tablica2 = [int(20), float(4.75), bool(True), str("Anna")]
for x in tablica2:
  print("Zmienna", x, "ma typ:", type(x))

#3 sposób
tablica3 = [20, 4.75, True, "Anna"]
for x in tablica3:
  print("Zmienna", x, "ma typ:", type(x))

Zmienna 20 ma typ: <class 'int'>
Zmienna 4.75 ma typ: <class 'float'>
Zmienna True ma typ: <class 'bool'>
Zmienna Anna ma typ: <class 'str'>
Zmienna 20 ma typ: <class 'int'>
Zmienna 4.75 ma typ: <class 'float'>
Zmienna True ma typ: <class 'bool'>
Zmienna Anna ma typ: <class 'str'>
Zmienna 20 ma typ: <class 'int'>
Zmienna 4.75 ma typ: <class 'float'>
Zmienna True ma typ: <class 'bool'>
Zmienna Anna ma typ: <class 'str'>

### Zadanie 6
1. Poproś użytkownika o podanie swojego roku urodzenia.
2. Oblicz jego wiek (zakładając, że mamy rok 2025).
3. Wyświetl komunikat:
```Masz [wiek] lat.```

In [ ]:
# Twój kod tutaj
rok_urodzenia = input('Podaj swój rok urodzenia: ')
wiek = int(2025) - int(rok_urodzenia)
print("Masz", wiek, "lat.")

Podaj swój rok urodzenia: 2001
Masz 24 lat.

### Zadanie 7
Napisz funkcję `calculator(a, b, op)`, gdzie `op`, to znak: `+`, `-`, `*`, `/`.

Funkcja powinna zwrócić wynik działania, np.:
```
calculator(4, 2, "+")  # 6
calculator(4, 2, "/")  # 2.0
```

In [ ]:
def calculator (a, b, op):
  if op == "+":
    return a + b
  elif op == "-":
    return a - b
  elif op == "*":
    return a * b
  elif op == "/":
    return a / b

print(calculator(4, 2, "+"))  # 6
print(calculator(4, 2, "/"))  # 2.0


a = input("Podaj pierwszą liczbę: ")
b = input("Podaj drugą liczbę: ")
op = input("Podaj działanie (+, -, *, /): ")
print(calculator(int(a), int(b), op))

6
2.0
Podaj pierwszą liczbę: 33
Podaj drugą liczbę: 44
Podaj działanie (+, -, *, /): +
77

### Zadanie 8
Napisz funkcję `bmi(weight, height)`, która:
* oblicza wskaźnik BMI wg wzoru: BMI = $\frac{\text{waga}}{(\text{wzrost})^2}$
* zwraca komunikat:
  * `< 18.5` → "niedowaga"
  * `18.5-24.9` → "waga prawidłowa"
  * `25-29.9` → "nadwaga"

In [ ]:
def bmi(weight, height):
  bmi = float(weight) / (float(height) ** 2)
  if bmi < 18.5:
    return ("Niedowaga")
  elif bmi >= 18.5 and bmi <= 24.9:
    return ("Waga prawidłowa")
  elif bmi >= 25 and bmi <= 29.9:
    return ("Nadwaga")

print(bmi(60, 1.76))

weight = input("Podaj swoją wagę w kg: ")
height = input("Podaj swój wzrost w m (np.1.76 dla 176cm): ")
print(bmi(weight, height))

Waga prawidłowa
Podaj swoją wagę w kg: 60
Podaj swój wzrost w m (np.1.76 dla 176cm): 176
Niedowaga

### Zadanie 9
 Napisz funkcję `tax(income)`, która dla podanego dochodu (`income`) obliczy podatek wg uproszczonego systemu:
* do 30 000 zł → 10%
* od 30 001 do 100 000 zł → 20%
* powyżej 100 000 zł → 30%

In [ ]:
def tax(income):
  if income <= 30000:
    return income * 0.10
  elif 30001 <= income <= 100000:
    return income * 0.20
  elif income > 100000:
    return income * 0.30

print(tax(20000))

income = input("Podaj swój dochód (podaj liczbę całkowitą): ")
print("Twój podatek wynosi : ", tax(int(income)))

2000.0
Podaj swój dochód (podaj liczbę całkowitą): 50000
Twój podatek wynosi :  10000.0

##  Pętle, tablice, kolekcje

### Tworzenie listy

In [ ]:
numbers = [1, 2, 3, 4, 5]   # lista z wartościami
empty = []                  # pusta lista
mixed = [1, "tekst", 3.14]  # lista z różnymi typami

### Podstawowe operacje

In [ ]:
numbers = [10, 20, 30, 40]

print(numbers[0])           # dostęp do elementu → 10
print(numbers[-1])          # ostatni element → 40

numbers.append(50)          # dodanie elementu na końcu
numbers.insert(1, 15)       # wstawienie elementu na indeks
numbers.remove(30)          # usuwa pierwsze wystąpienie 30
numbers.pop()               # usuwa ostatni element
numbers.sort()              # sortowanie rosnąco
numbers.reverse()           # odwrócenie kolejności
print(len(numbers))         # długość listy

10
40
4

### Wyszukiwanie i sprawdzanie

In [ ]:
numbers = [10, 20, 30, 40]
print(20 in numbers)        # True, sprawdza obecność
print(numbers.index(40))    # indeks elementu 40

True
3

### Slicing (wycinanie fragmentów)

In [ ]:
numbers = [10, 20, 30, 40]
print(numbers[1:3])   # od indeksu 1 do 2
print(numbers[:2])    # od początku do 2
print(numbers[2:])    # od indeksu 2 do k
print(numbers[::2])   # co drugi element

[20, 30]
[10, 20]
[30, 40]
[10, 30]

### Iteracja po elementach

In [ ]:
numbers = [10, 20, 30, 40]
for x in numbers:
 print(x)

10
20
30
40

### Iteracja po indeksach

In [ ]:
numbers = [10, 20, 30, 40]
for i in range(len(numbers)):
 print(i, numbers[i])

0 10
1 20
2 30
3 40

### Enumeracja (indeks + wartość jednocześnie)

In [ ]:
for i, value in enumerate(numbers):
 print(i, value)

0 40
1 20
2 15
3 10

### While loop

In [ ]:
 i = 0
 while i < len(numbers):
  print(numbers[i])
  i += 1

40
20
15
10

### List comprehension

In [ ]:
squares = [x**2 for x in numbers]
print(squares)

[1600, 400, 225, 100]

## Ćwiczenia 10-14

### Zadanie 10 - Odwracanie listy
 Napisz funkcję, która **odwróci listę** bez używania metody `reverse()` ani ` :-1`.

 (np. `["a", "b", "c", "d"] → ["d", "c", "b", "a"]`)

In [ ]:
def custom_reverse(my_list):
  for i in range(int(len(my_list)/2)):
    tmp = my_list[i]
    my_list[i] = my_list[len(my_list) - 1 - i]
    my_list[len(my_list) - 1 - i] = tmp

my_list = ["a", "b", "c", "d"]
custom_reverse(my_list)
print(my_list)


#reverse()
my_list = ["a", "b", "c", "d"]
my_list.reverse()
print(my_list)

#:-1
my_list = ["a", "b", "c", "d"]
print(my_list[::-1])

['d', 'c', 'b', 'a']
['d', 'c', 'b', 'a']
['d', 'c', 'b', 'a']

### Zadanie 11 - Zliczanie wystąpień
Dla listy:

``` fruits = ["apple", "banana", "apple", "orange", "banana", "apple"] ```


Policz, ile razy występuje każdy owoc i zapisz wynik w słowniku, np.:

```  {"apple": 3, "banana": 2, "orange": 1} ```

In [ ]:
def count(items):
  counts = {}
  for x in items:
    if counts.get(x) == None:
      counts[x] = 1
    else:
      counts[x] +=1

  return counts

fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(count(fruits))


#.get
def count(items):
    counts = {}
    for x in items:
        counts[x] = counts.get(x, 0) + 1
    return counts

fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(count(fruits))

{'apple': 3, 'banana': 2, 'orange': 1}
{'apple': 3, 'banana': 2, 'orange': 1}

### Zadanie 12 - Normalizacja danych
Masz listę wartości:
```  data = [10, 20, 30, 40, 50] ```

Napisz funkcję `normalize(data)`, która zwróci listę wartości przeskalowanych do przedziału `[0, 1]` według wzoru:

$ x' = \frac{x - min}{max - min}$

In [ ]:
data = [10, 20, 30, 40, 50]

def normalize(data):
    min_val = data[0]
    max_val = data[0]

    for x in data:
        if x < min_val:
            min_val = x
        if x > max_val:
            max_val = x

    if max_val == min_val:
        return [0.0 for _ in data]

    normalized = []
    for x in data:
        x_norm = (x - min_val) / (max_val - min_val)
        normalized.append(x_norm)

    return normalized

print(normalize(data))

[0.0, 0.25, 0.5, 0.75, 1.0]

### Zadanie 13 - Bag of Words (liczenie słów)
Masz listę zdań:
```
sentences = [
 "I like Python",
 "Python is great for AI",
 "I like AI"
]
 ```

Napisz funkcję `bag_of_words(sentences)`, która zwróci słownik z częstością występowania każdego słowa.

In [ ]:
def count(items):
    counts = {}
    for x in items:
        if counts.get(x) == None:
            counts[x] = 1
        else:
            counts[x] += 1
    return counts

sentences = [
    "I like Python",
    "python is great for AI",
    "I like AI"
]

def bag_of_words(sentences):
    words = []
    for sentence in sentences:
        words.extend(sentence.lower().split()) #lower(), żeby Python i python było liczone jako jedno słowo
    return count(words)

print(bag_of_words(sentences))

#2 sposób
def bag_of_words(sentences):
    counts = {}
    for sentence in sentences:
        words = sentence.split()
        for word in words:
            counts[word] = counts.get(word, 0) + 1
    return counts

print(bag_of_words(sentences))

zdanie = input("Podaj zdanie: ")
print(bag_of_words([zdanie]))

{'i': 2, 'like': 2, 'python': 2, 'is': 1, 'great': 1, 'for': 1, 'ai': 2}
{'I': 2, 'like': 2, 'Python': 1, 'python': 1, 'is': 1, 'great': 1, 'for': 1, 'AI': 2}
Podaj zdanie: ja mam jablko jablko
{'ja': 1, 'mam': 1, 'jablko': 2}

### Zadanie 14 - Liczby doskonałe
Napisz funkcję `is_perfect(n)`, która sprawdzi, czy liczba jest **doskonała**, czyli równa sumie swoich dzielników właściwych.

Przykład: `6` → dzielniki 1+2+3 = 6 → liczba doskonała.

In [ ]:
def is_perfect(n):
  sum = 0
  for i in range(1, n):
    if n % i == 0:
      sum += i
  if sum == n:
    return True
  else:
    return False

print(is_perfect(6))
print(is_perfect(7))
print(is_perfect(28))

n = int(input("Podaj liczbę: "))
print("Czy liczba jest doskonała?", is_perfect(n))

True
False
True
Podaj liczbę: 6
Czy liczba jest doskonała? True